<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>SocialMessaging</display-name>
	<servlet>
		<display-name>UserAuthentication</display-name>
		<servlet-name>UserAuthentication</servlet-name>
		<servlet-class>in.social.messaging.controller.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>UserAuthorization</display-name>
		<servlet-name>UserAuthorization</servlet-name>
		<servlet-class>in.social.messaging.controller.AuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>New Mail</display-name>
		<servlet-name>NewMail</servlet-name>
		<servlet-class>in.social.messaging.controller.NewMailServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>FetchMail</display-name>
		<servlet-name>FetchMail</servlet-name>
		<servlet-class>in.social.messaging.controller.FetchMailsServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ChangeMail</display-name>
		<servlet-name>ChangeMail</servlet-name>
		<servlet-class>in.social.messaging.controller.ChangeMailServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>RemoveMail</display-name>
		<servlet-name>RemoveMail</servlet-name>
		<servlet-class>in.social.messaging.controller.RemoveMailServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>FindMails</display-name>
		<servlet-name>FindMails</servlet-name>
		<servlet-class>in.social.messaging.controller.FindMailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewMail</servlet-name>
		<url-pattern>/NewMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAuthentication</servlet-name>
		<url-pattern>/UserAuthentication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAuthorization</servlet-name>
		<url-pattern>/UserAuthorization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewMail</servlet-name>
		<url-pattern>/NewMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchMail</servlet-name>
		<url-pattern>/FetchMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeMail</servlet-name>
		<url-pattern>/ChangeMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveMail</servlet-name>
		<url-pattern>/RemoveMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindMails</servlet-name>
		<url-pattern>/FindMails</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
